.treeNode {
    width: fit-content;
    border: 2px solid #FFDAAB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px;
}

.treeNode > .nodeId {
    border: 2px solid #D9ABFF;
    padding: 8px;
    font-weight: bold;
}

.treeNode > .nodeChildren {
    border: 2px solid #ABE4FF;
    display: flex;
    padding: 2px;
}

.nodeChildren > .treeNode {
    border: 2px solid #FFABAB;
    padding: 5px;
    margin: 2px;
}

#smallestBinTree {
    border: 2px solid green;
}